.ss22{
    width: 220PX;
    margin-left: 190PX;
    border: none;

}
.ss33{
    height: 330px;
    margin-bottom: 100px;
    border: none;

}
.s55{
    width: 500px;
    margin-left: 190PX;
border: none;
}
@media only screen and (max-width: 622px){
    .s55{
       
        margin-left: 10PX;
      
    }
.col-lg{
width: 200px;
}



}
@media only screen and (max-width: 390px){

    .s55{
       
        margin-left: 250PX;
        width: 400px;
      
    }


}