
.photos-and-circle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px; /* Space for the cards above */
    margin-left: 10px;
}

.photos {
    display: flex;
}

.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(12, 113, 222); /* Change to desired color */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -14px;
    border: 2px solid white;
}

.number {
    font-size: 24px;
    color: white;
}
.circle-photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: -14px;
    border: 2px solid white;
}
.circle-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.attending-text {
    display: flex;
    align-items: center;
    margin-left: 5px; /* Adjust the margin as needed */
    margin-top: 7px; /* Adjust the margin as needed */
    font-size: 15px; /* Adjust the font size as needed */
    color: #555; /* Adjust the color as needed */
}


