.card-image{

  max-width: 45px; /* Maximum width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* To prevent inline default space */
  margin: 0 auto; /* Center the image in the card */
  margin-top: 7%;
  margin-bottom: 5%;
 


}



.card-content{

  font-size:22px;
  font-weight: bold;
  text-emphasis-style:unset;
  text-align: center;

}
.cards-container{

  margin-top: 10%;
  margin-bottom: 25%;
 

}





.header-des{
  color: #ffff;
  text-align: center;
  margin-bottom: 10rem ;
  margin-top: 10rem;

}

#form-title{
  font-size: larger;
  font-weight: bold;

  

}

.header-form{
  background-color: aliceblue;
  border: 1px solid #fffefe; /* Change the color and size as needed */
  padding: 1rem;
  border-radius: 0.4rem; /* Adjust for rounded corners */
  
  margin-left: auto;  
  margin-right: auto; 
  
  
  max-width: 750px; 

  margin-top: -6%;
 


}




.background-image{
   
  background-image: url('https://static.independent.co.uk/2021/11/06/20/Music_Festival-Deaths_83515.jpg');
  background-size: cover;
  background-repeat: no-repeat ;
  background-position: center;
  position: relative;
  height: 550px;


}



.position-relative {
  position: relative;
}

.search-icon {
  position: absolute;
  right: 17px;
  top: 28%;
 
}



.cards-container {
  margin-top: 150px;
}



















.RT{

  text-align: center;
  margin-bottom: 2rem;
  margin-top: 200px;

}


.list {
  list-style: none; /* Remove default bullets */
  padding-left: 0; /* Remove default padding */
}

.list li {
  display: flex; /* Align icon and text */
  align-items: center; /* Center items vertically */
  margin-bottom: 0.5rem; /* Space between items */
}

.icon1{

  color: rgb(34, 201, 81);
  font-size: 40px;
  margin-bottom: 1.2rem;


}
.icon2{

  color: rgb(234, 164, 11);
  font-size: 40px;
  margin-bottom: 1.2rem;

}
.icon3{

  color: rgb(44, 128, 218);
  font-size: 40px;
  margin-bottom: 1.2rem;
}
#GS{

  margin-bottom: 1.7rem;

}
#AS{

  margin-bottom: 1.7rem;

}#OT{

  margin-bottom: 1.7rem;

}





