.background-image{
   
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/aacecb44-b8df-4788-bf7c-32043c75ab4f/dgde3lw-f9c03a77-f038-4fc0-8dc5-5c0a54ba339b.png/v1/fill/w_1192,h_670,q_70,strp/jjk_wallpaper_4k_by_gothxluciole_dgde3lw-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjE2MCIsInBhdGgiOiJcL2ZcL2FhY2VjYjQ0LWI4ZGYtNDc4OC1iZjdjLTMyMDQzYzc1YWI0ZlwvZGdkZTNsdy1mOWMwM2E3Ny1mMDM4LTRmYzAtOGRjNS01YzBhNTRiYTMzOWIucG5nIiwid2lkdGgiOiI8PTM4NDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.bVrCVDY9cIcbZA5kcUPcYh8crkyaLAXAD1ycKjz74b4');
    background-size: cover;
    background-repeat: no-repeat ;
    background-position:center;
    background-position:top;
    height: 550px;
    
  
  }
  
  .des {
    color: #ffffff;
  }
  
  .search-area {
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  
  .search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .card-image {
    width: auto;
    max-width: 100%;
    height: auto;
  }
  
  /* Cards layout */
  .cards-container {
    margin-bottom: 25%;
    margin-top: 250px;
  }

  .img{

    max-width: 45px; /* Maximum width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* To prevent inline default space */
    margin: 0 auto; /* Center the image in the card */
    margin-top: 7%;
    margin-bottom: 5%;
   
  
  
  }
  
  
  
 
  
  